.width-80-persent {
    width: 80%;
}

.green {
    color: green;
}

.bold {
    font-weight: bold;
}

.title {
    font-family: "Avant" !important;
    font-size: 33px !important;
    padding: 36px 0 10px !important;
    color: #726f74 !important;
    margin-bottom: .5rem !important;
    text-align: center !important;
    font-weight: 500 !important;
    line-height: 1.2 !important;
    box-sizing: border-box !important;
}

.white {
    color: #fdfdfd !important;
}
