.green {
    color: green;
}

.bold {
    font-weight: bold;
}

.title {
    font-family: "Avant";
    font-size: 33px;
    padding: 36px 0 10px;
    color: #726f74;
    margin-bottom: .5rem;
    text-align: center;
    font-weight: 500;
    line-height: 1.2;
    box-sizing: border-box;
}

.white {
    color: #fdfdfd;
}
